<!DOCTYPE html>
<html>
<head>
  <title>Concurso Cultural</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'jumbotron-narrow', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'ie10-viewport-bug-workaround', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'ie10-viewport-bug-workaround', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'ie-emulation-modes-warning', 'data-turbolinks-track' => true %>
	  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="container">
      <div class="header clearfix">
        <!-- <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav> -->

         <nav>
          <ul class="nav nav-pills col-centered">
            <h3 class="text-muted"><%= image_tag 'Groupe_Renault_Logo.svg.png', class: "logo" %></h3>
          </ul>
        </nav>
        
      </div>

      <div class="jumbotron">
        <h1>Concurso Cultural - RdB</h1>
        <p class="lead">Com objetivo de promover a Transformação Digital na Renault do Brasil e gerar oportunidades de novos negócios e eficiência, a DSIA realizará em setembro um evento onde fornecedores renomados de tecnologia estarão no Complexo Ayrton Senna apresentando o que há de mais recente em inovação de TI para indústria automotiva.
 <br>
Um evento como este não pode ficar sem um nome forte e impactante, não acha?
Então, coloque em prática seu lado criativo, crie um nome original e cadastre aqui.
<br>
<br>
O autor da melhor ideia ganhará um jantar para duas pessoas. Participe e boa sorte!</p>
        
      </div>

      <div class="row marketing">
        <%= yield %>        
      </div>

      <footer class="footer">
        <p>© 2016 Renault do Brasil, Inc.</p>
      </footer>

    </div> <!-- /container -->


</body>
</html>
